/* Hide scrollbar for modern browsers (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none; /* Hide scrollbar */
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
}

/* Ensure content is scrollable */
body, html {
  overflow-y: scroll; /* Enable vertical scrolling */
}



.app {
  display: flex;
  height: 100vh;
}

.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #f0f2f5;
  transition: margin-left 0.3s ease-in-out;
}



.main-content.sidebar-hidden {
  margin-left: 0;
}

.toggle-sidebar-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}